<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="se.ulme.play_webshop_with_android"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity android:name="se.ulme.testapp.StartActivity"
            android:label="@string/title_activity_splash" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="se.ulme.testapp.CreateProductActivity" >
        </activity>
        <activity android:name="se.ulme.testapp.CreateCategoryActivity" >
        </activity>
        <activity android:name="se.ulme.testapp.ListProductsActivity" >
        </activity>
        <activity android:name="se.ulme.testapp.LogInActivity" >
        </activity>
        <activity android:name="se.ulme.testapp.LogOutActivity" >
        </activity>
        <activity android:name="se.ulme.testapp.ListCategoriesActivity" >
        </activity>
        <activity android:name="se.ulme.testapp.CreateShoppingBasketActivity" >
        </activity>
        <activity android:name="se.ulme.testapp.CreateOrderActivity" >
        </activity>
        <activity android:name="se.ulme.testapp.EditShoppingBasketActivity" >
        </activity>
    </application>

</manifest>
